*, *::after, *::before {
    box-sizing: border-box;
}

.dowheader {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px; 
    width: 30%;
    border: 3px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.dowwheader {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px; 
    width: 30%;
    border: 3px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.simheader {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 0;
    width: 60%;
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
}

.newheader {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 0;
    width: 30%;
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
}

.news {
    text-align: center;
    color: var(--text-color);
    font-size: 70px;
    border: 3px solid black;
    width: 50%;
    margin: auto;
    border-radius: 50px;
    padding: 0;
    margin-bottom: 120px;
    background-color: var(--article-background);
}

body{
    background-color: var(--background-color);
    margin: 0;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: #333;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

h1 {
    background: linear-gradient(to left,#87cefa, #87cefa 50%, #ffffff 50%, #ffffff);
    background-size: 202% 100%;
    background-position: 200% 100%;
    color: var(--background-color);
    /*trasition effect for background*/
    transition: background 1s;
  }

.play-animation {
    background-position: 100% 0%;
}

.menu {
    margin-top: 1%;
    display: flex;
    padding-top: 3%
    
}

.menubuttonl{
    margin-left: 22%;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 25px;
    transition: font-size 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.menubuttonr{
    margin-left: 44%;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 25px;
    transition: font-size 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.menubuttonl:hover {
    transform: scale(1.2);
}

.menubuttonr:hover {
    transform: scale(1.2);
}

hr {
    margin-top: 0;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
}

#active {
    background-color: var(--button-background-color);
    border: var(--border-color) solid 1px;
    color: black;
}

.download {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 36%;
    padding: 9%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 3px solid var(--border-color);
    border-radius: 5%;
    background-size: 110%;
    transition-property: all;
    transition-duration: 0.2s;
    font-size: 30px;
    font-weight: bold; 
} 

.download:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}

#tet1be { 
    background-image: url(img/tet1be.png);
}

#tet1ja {
    background-image: url(img/tet1ja.png);
}

#tet2be {
    background-image: url(img/tet2be.png);
}

#tet2ja {
    background-image: url(img/tet2ja.png);
}

#tet3be {
    background-image: url(img/tet3be.png);
}

#tet3ja {
    background-image: url(img/tet3ja.png);
}

#tet4ja {
    background-image: url(img/tet4ja.png);
}

#tet4be {
    background-image: url(img/tet4rbe.png);
}

#tet5ja {
    background-image: url(img/tet5ja.png);
}

#tet5be:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}

#tet5be {
    background-image: url(img/tet5rbe.png);
    background-size: 120%;
    transform: translateY(-1%);
}

#ceja {
    background-image: url(img/ceja.png);
}

#cebe {
    background-image: url(img/cebe.png);
}

#rpg {
    background-image: url(img/jsrpg.png);
    background-size: 150%;
}

.spandow {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--blur-background);
    border: 2px solid var(--text-color);
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 60px;
    color: var(--text-color);
}

span {
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

/*.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: wheat;
	z-index: 1;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}*/

.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 80px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 90px);
	top: 20px;
	cursor: pointer;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--blur-background);
}

.blur {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 0px solid var(--border-color);
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.top, .middle{
	position: absolute;
	width: 62px;
	height: 10px;
	background-color: var(--text-color);
	transition: all 350ms ease-in-out;
	top: 20px;
    border-radius: 9999px;
    left: 7px;
}

.middle {
	top: 40px;
}

#menu {
	position: fixed;
	left: calc(100% - 250px);
	top: 10px;
	display: none;
	margin: 120px 30px;
	text-decoration: underline;
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--text-color-invert);
	padding: 24px;
	width: 200px;
    z-index: 2;
}

#menu li {
    text-align: right;
    text-decoration: underline;
    list-style-type: none;
}

#menu a li {
    display: block;
    text-align: right;
	text-decoration: underline;
	padding-bottom: 10px;
	margin-bottom: 12px;
	list-style: none;
	color: black;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #00abff;
	padding-right: 3px;
}

#menu a li:hover:after {
}



#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: var(--text-color);
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: var(--text-color);
	height: 2px;
}

.top {
    -webkit-animation-delay: 100ms;
}

.middle {
    -webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	font-family: Verdana;
	font-weight: 900;
	color: var(--text-color);
	font-size: 19.5px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: 5px;
	transition: all 350ms;
}

.bump {
	top: 64px;
	color: var(--text-color);
}

.responsive-box {
	background-color: #ddd;
	margin: 2%;
	float: left;
}

.box-1 {
	width: 96%;
	height: 300px;
}

.box-2, .box-3, .box-4 {
	width: 29.333%;
	height: 140px;
}

.box-5 {
	width: 62.666%;
	height: 492px;
}

.header {
	width: 100%;
	height: 120px;
}

.par-1, .par-2, .par-3 {
	width: 70%;
	margin: 1% 2%;
	background-color: #888;
	height: 16px;
	float: left;
}

.par-2 {
	width: 56%;
}

.par-3 {
	width: 64%;
}

.background {
    background-color: var(--menu-color);
    border: 3px solid black;
    border-radius: 50px;
}

.contact {
    color: var(--text-color);
}

.contactdiv {
    color: var(--text-color);
    text-align: center;
}

.about {
    font-size: 30px;
}

.game {
    margin-top: 1%;
    text-align: center;
}

.hrclass {
    margin-top: 1%;
    height: 4px;
    border: none;
}

.hrclass2 {
    height: 4px;
    border: none;
}

hr {
    border: none;
}

.article {
    margin: auto;
    font-size: 35px;
    border: 3px solid black;
    border-radius: 25px;
    width: 65%;
    padding-top: 7%;
    padding-bottom: 7%;
    color: var(--text-color);
    background-color: var(--article-background);
}

.abouttetragon {
    color: var(--text-color);
    font-size: 28px;
}

.aboutme {
    color: var(--text-color);
    font-size: 25px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --menu-color: white;
        --text-color: white;
        --border-color: black;
        --background-color: #323232;
        --button-background-color: white;
        --blur-background: rgba(10, 10, 10, 0.5);
        --article-background: rgba(255, 255, 255, 0.3);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --menu-color: lightskyblue;
        --text-color: black;
        --border-color: lightskyblue;
        --background-color: white;
        --button-background-color: lightskyblue;
        --blur-background: rgba(255, 255, 255, 0.5);
        --article-background: rgba(20, 20, 20, 0.3);
    }
}

@media screen and (max-width: 2000px){
    .download {
        background-size: 125%;  
        background-position: 5% 0;
    }
    span {
        font-size: 20px;
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    #tet5be {
        background-size: 150%;
        font-size: 16px;
    }
}

@media screen and (max-width: 1500px) {
    
}

@media screen and (max-width: 1100px){
    .iframe {
        width: 90%;
    }
    .simheader {
        font-size: 30px;
        width: 60%;
    }

    .newheader {
        font-size: 35px;
        width: 60%;
    }

    .news {
        font-size: 40px;
        width: 90%;
    }

    .about {
        font-size: 30px;
    }

    .download {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 35%;
        padding-bottom: 35%;
        background-size: 170%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    span {
        font-size: 30px;
    }

    .dowheader {
        width: 70%;
        height: 30%;
        padding-bottom: 6%;
        padding-top: 5%;
        font-size: 50px;
        margin-left: 5%;
    }

    .dowwheader {
        width: 70%;
        height: 30%;
        padding-bottom: 6%;
        padding-top: 5%;
        font-size: 50px;
        margin-left: 5%;
    }

    .menubuttonl {
        font-size: 30px;
        margin-left: 5%;
        padding: 0;
        width: 32%;
    }

    .menubuttonr {
        font-size: 30px;
        margin-left: 20%;
        padding: 0;
    }

    .newheader {
        width: 70%;
    }

    #tet5be {
        background-size: 170%;
    }    

    #tet5s {
        font-size: 20px;
    }

    .hamburger-shell {
        width: 20%;
        height: 13%;
        left: 78%;
        margin-top: 0;
        padding: 0;
    }

    .top, .middle {
        width: 80%;
        height: 22%;
        top: 10%;
        left: 10%;
    }

    .middle {
        top: 38%;
    }

    .rotate, .rotate-back {
        height: 5%;
        top: 30%;
    }

    .bump {
        top: 40%;
        left: 10%;
    }

    #menu {
        font-weight: bold;
        font-size: 2rem;
        top: 2%;
        left: 30%;
        width: 60%;
        text-align: right;
    }
    .menu-name {
        font-size: 18px;
        top: 64%;
        left: 11%;
    }

    #menu li {
        text-align: right;
    }

    .article {
        font-size: 30px;
        width: 90%;
    }
}

@media (hover:none) {
    .menubuttonr {
        margin-left: 40%;
    }   
}