*, *::after, *::before {
    box-sizing: border-box;
}

.header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 3%; 
    width: 30%;
    border: 3px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    margin: 0;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

h1 {
    background: linear-gradient(to left,#87cefa, #87cefa 50%, #ffffff 50%, #ffffff);
    background-size: 202% 100%;
    background-position: 200% 100%;
    color: var(--background-color);
    /*trasition effect for background*/
    transition: background 1s;
  }

.play-animation {
    background-position: 100% 0%;
}

.menu {
    margin-top: 1%;
    display: flex;
    padding-top: 3%
    
}

.menubuttonl{
    margin-left: 22%;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    transition: font-size 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.menubuttonr{
    margin-left: 45%;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    transition: font-size 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.menubuttonl:hover {
    transform: scale(1.2);
}

.menubuttonr:hover {
    transform: scale(1.2);
}

hr {
    margin-top: 0;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
}

#active {
    background-color: var(--button-background-color);
    border: var(--border-color) solid 1px;
    color: black;
}

.download {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 36%;
    padding: 9%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 3px solid var(--border-color);
    border-radius: 5%;
    background-size: 102%;
    transition-property: all;
    transition-duration: 0.2s;
    font-size: 30px;
    font-weight: bold; 
} 

.download:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}

#tet1be { 
    background-image: url(img/tet1be.png);
}

#tet1ja {
    background-image: url(img/tet1ja.png);
}

#tet2be {
    background-image: url(img/tet2be.png);
}

#tet2ja {
    background-image: url(img/tet2ja.png);
}

#tet3be {
    background-image: url(img/tet3be.png);
}

#tet3ja {
    background-image: url(img/tet3ja.png);
}

#tet4ja {
    background-image: url(img/tet4ja.png);
}

#tet4be {
    background-image: url(img/tet4rbe.png);
}

#tet5ja {
    background-image: url(img/tet5ja.png);
}

#tet5be:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}

#tet5be {
    background-image: url(img/tet5rbe.png);
    background-size: 120%;
    transform: translateY(-1%);
}

#ceja {
    background-image: url(img/ceja.png);
}

#cebe {
    background-image: url(img/cebe.png);
}

.spandow {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--blur-background);
    border: 2px solid var(--text-color);
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 60px;
    color: var(--text-color);
}

span {
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    margin-left: 10px;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}


@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --border-color: black;
        --background-color: #323232;
        --button-background-color: white;
        --blur-background: rgba(10, 10, 10, 0.5);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: black;
        --border-color: lightskyblue;
        --background-color: white;
        --button-background-color: lightskyblue;
        --blur-background: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 2000px){
    .download {
        background-size: 122%;
    }
    span {
        font-size: 20px;
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    #tet5be {
        background-size: 150%;
        font-size: 16px;
    }
}

@media screen and (max-width: 1500px) {
    
}

@media screen and (max-width: 1100px){
    .download {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 35%;
        padding-bottom: 35%;
        background-size: 170%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    span {
        font-size: 65px;
    }

    .header {
        width: 75%;
        height: 40%;
        font-size: 120px;
    }

    .menubuttonl {
        font-size: 65px;
        margin-left: 15%;
        padding: 0;
    }

    .menubuttonr {
        font-size: 65px;
        margin-left: 32%;
        padding: 0;
    }

    #tet5be {
        background-size: 170%;
    }    

    #tet5s {
        font-size: 45px;
    }
}